NEXT_PUBLIC_SUPABASE_URL=https://dellefgxebstzlsbitqk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRlbGxlZmd4ZWJzdHpsc2JpdHFrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkxMDQ5MDQsImV4cCI6MjA5NDY4MDkwNH0.rrd43DN-G3aAEnGxao2aya6q4ybZY-PvPa3U_zkOaVY
